* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    background-color: #f4f4f4;
}
.box-container {
    background-color: #f9f9f9;
    padding: 10px;
    height: 530px;
    width: 80%;
    max-width: 750px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 24.5%;
    margin-top: 45px;
    margin-bottom: 80px;
}
.price {
    font-size: 22px;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
}
.warning{
    font-size: 16px;
    color: #777;
    margin-bottom: 35px;
}

.question-title {
    font-size: 27px;
    color: #070441;
    margin-bottom: 30px;
}
.answer-option {
    display: flex;
    align-items: center;
    margin: 10px 150px;
    padding: 16px 15px;
    border: 2px solid #c8cec5;
    border-radius: 10px;
    transition: background-col2or 0.3s ease;
}
.answer-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    accent-color: #1e88e5;
    cursor: pointer;
}
.answer-label {
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

.answer-option:hover {
   border-color: #1e88e5;
}
.hr1{
    margin-top: -20px;
    margin-bottom: 25px;
}
.hr2{
    margin-top: 35px;
}
.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    margin-top: 30px;
    padding: 12px 55px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
}

.prev-button {
    background-color: rgb(255 255 255);
    margin-left: 23%;
    border-color: rgb(63 110 237);
    color: rgb(63 110 237);
}

.next-button {
    border: none;
    background-color: rgb(255 85 50);
    margin-right: 25.5%;
    color: white;
}
.submit-button{
     margin-right: 150px;
 }

button:hover {
    opacity: 0.9;
}

.section-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #070441;
}
.input-field {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
}
.feedback-label {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
}
.textarea-field {
    width: 80%;
    padding: 10px;
    height: 130px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    resize: vertical;
}

.textarea-field:focus {
    border-color: #007bff;
    outline: none;
}
