@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}
.formbold-mb-5 {
    margin-bottom: 20px;
}
.formbold-pt-3 {
    padding-top: 12px;
}
.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px;
    margin-right: 20%;
}

.formbold-form-wrapper {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    background: white;
}
.formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
}
.formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}
.formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
    margin-top: 13px;
}
.formbold-btn:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
}
.formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.w-full {
    width: 100%;
}
.formbold-form-file {
    padding: 12px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(83, 99, 135, 0.5);
}
.formbold-form-file::-webkit-file-upload-button {
    display: none;
}
.formbold-form-file:before {
    content: 'Upload';
    display: inline-block;
    background: #EEEEEE;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    padding: 3px 12px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    color: #637381;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-right: 10px;
}
@media (min-width: 540px) {
    .sm\:w-half {
        width: 50%;
    }
}
