*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
footer{
    position: relative;
    width: 100%;
    background: linear-gradient(#c8cec5, #ccc);
    color: #fff;
    padding: 44px 0 25px;
    border-radius: 20px 20px 0 0;
    font-size: 13px;
    line-height: 20px;
}
.row1{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col1{
    flex-basis: 25%;
    padding: 10px;
}
.col1:nth-child(2), .col1:nth-child(3){
    flex-basis: 15%;
}
.service2{
    text-decoration: none;
    position: absolute;
    top: 51px;
    left: 12.4%;
    color: #070441;
    font-size: 18px;
}
.wordsBox{
    margin-top: 52px;
    margin-left: 10px;
}
.words1{
    margin-top: 12px;
}
.textP{
    margin-left: 15px;
    margin-top: 50px;
    font-size: 14px;
}
.col1 .h3class{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: #070441;
}
.col1 p{
    font-size: 14px;
    color: #070441;
}
.col1 .h4class{
    font-size: 14px;
    color: #070441;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.ul1 .li1{
    list-style: none;
    margin-bottom: 12px;
}
.ul1 .li1 .a1{
    text-decoration: none;
    font-size: 14px;
    color: #070441;
}

.formClass{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #070441;
    margin-bottom: 50px;
}
.formClass .fa-regular{
    font-size: 18px;
    margin-right: 10px;
    color: #070441;
}
.formClass .inputClass{
    width: 100%;
    background: transparent;
    color: #070441;;
    border: 0;
    outline: none;
}
.formClass .buttonClass{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.formClass .buttonClass .fa-solid{
    font-size: 16px;
    color: #070441;
}
.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #070441;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
.copyright{
    color: #070441;
    text-align: center;
    margin-top: 15px;
    margin-left: -30px;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}
