@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 10px 0;
}
.container {
    max-width: 1500px;
    margin: 13px auto;
    padding: 3px 15px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 10%;
    top: -5%;
}
.logoimg{
    width: 90px;
    height: 140px;
    margin-top: 3px;
}
.serviceNest {
    color: #374151;
    text-decoration: none;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #6b7280;
    padding: 10px 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}
.menuitems{
    margin-right: 130px;
    margin-top: -4px;
}

nav ul li a:hover {
    color: darkcyan;
}

.loginP a {
    color: #6b7280;
    font-size: 1.1em;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    padding: 10px 15px;
    transition: color 0.4s ease;
}
.loginP a:hover{
    color: darkcyan;
}
.Sbtn{
    margin-top: -3.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid darkcyan;
    border-radius: 10px;
    height: 35px;
    width: 190px;
    padding: 0 10px;
    color: darkcyan;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
}
.line {
    height: 1px;
    background-color: #ccc;
    margin-top: 10px;
}
.form-box {
    width: 90%;
    max-width: 700px;
    height: 550px;
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px;
    text-align: center;
    border-radius: 50px 50px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.input-group {
     margin-bottom: 20px;
 }
.inputField {
    width: 530px;
    height: 50px;
    padding: 15px;
    margin: 35px 0;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #ccc;
    border-radius: 20px!important;
    font-size: 1em;
}
.error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 10px;
}
.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnPrimary {
    background-color: #ff6000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 0;
    width: 250px;
    text-align: center;
}
