@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
header {
    background-color: #F7F7F7;
    padding: 10px 0;
}

.container {
    max-width: 1500px;
    margin: 13px auto;
    padding: 3px 15px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 110px;
}

.logoimg {
    width: 90px;
    height: 140px;
    margin-top: 3px;
}

.serviceNest {
    color: #070441;
    text-decoration: none;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #6b7280;
    padding: 10px 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}

.menuitems {
    margin-right: 115px;
}

nav ul li a:hover {
    color: darkcyan;
}

.loginP a {
    color: #6b7280;
    font-size: 1.04em;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    padding: 8px 13px;
    transition: color 0.4s ease;
}

.loginP a:hover {
    color: darkcyan;
}

.Sbtn {
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid darkcyan;
    border-radius: 10px;
    height: 35px;
    width: 190px;
    padding: 0 10px;
    color: darkcyan;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
}

.line {
    height: 1px;
    background-color: #ccc;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .logoimg {
        width: 40px;
        height: 56px;
        margin-top: 14px;
        margin-right: 30px;
    }
    .serviceNest {
        font-size: 0.5em;
        margin-left: -100px;
    }
}
