@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

.line {
    height: 1px;
    background-color: #ccc;
    margin-top: 10px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.content-image {
    border-radius: 25px;
    width: 80%;
    height: 70vh;
    background: #c8cec5;
}

.content-image img {
    background-size: cover;
    position: absolute;
    overflow: hidden;
    border: none;
    width: 570px;
    height: 470px;
    right: 12.6%;
    top: 4.5%;
}

.h2text {
    position: absolute;
    top: 12.5%;
    left: 15%;
    color: #070441;
    text-decoration: none;
    font-size: 3.5em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transform: translateY(-50%);
    z-index: 2;
}

.h2text2 {
    position: absolute;
    top: 20.7%;
    left: 15%;
    color: #070441;
    text-decoration: none;
    font-size: 3.3em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transform: translateY(-50%);
    z-index: 2;
}

.h2text3 {
    position: absolute;
    top: 28.8%;
    left: 15%;
    color: #070441;
    text-decoration: none;
    font-size: 3.3em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    transform: translateY(-50%);
    z-index: 2;
}

body, .parent-container {
    position: relative;
}

.search-container {
    position: absolute; /* Position absolutely within its parent */
    bottom: 58.3%; /* Moves the element 30% up from the bottom of the parent container */
    left: 13.8%;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    max-width: 800px;
    margin: auto;
}

.search-input {
    flex: 2;
    padding: 10px;
    background: #ffffff;
    border: 1px solid darkgreen;
    width: 400px;
    height: 60px;
    border-radius: 30px 0 0 30px;
    font-size: 1.1em;
    outline: none;
    position: relative;
    z-index: 1;
}

.dropdown-options {
    display: none;
    position: absolute;
    bottom: -220%;
    left: 1%;
    width: 80%;
    background-color: white;
    border: 1px solid darkgreen;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.search-button {
    padding: 10px 15px;
    border: none;
    background-color: #14204a;
    color: white;
    border-radius: 0 30px 30px 0;
    width: 90px;
    height: 60px;
    cursor: pointer;
}

.search-button img {
    width: 14px;
    height: 20px;
    margin-top: 21px;
    margin-right: -18px;
}
.titleS{
    color: #070441;
    text-decoration: none;
    font-size: 1.85em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 55px;
}
.main-container{
    height: 400px;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.serviceLink{
    text-decoration: none;
}
.btnIcons{
    height: 78px;
    width: 74px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    margin-top: 43px;
    margin-left: 140px;
}
.btnIcons:hover{
    transform: translateY(-8px);
    transition: transform 0.4s ease-in-out;
}
.spanName{
    color: #070441;
    margin-left: 140px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .content-container {
        height: 100vh;
        width: 100%;
        margin-top: 50px;
    }
    .content-image {
        border-radius: 25px;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        background: #c8cec5;
    }
    .content-image img {
        position: relative;
        margin-left: 145px;
        max-width: 700px;
        min-width: 400px;
        max-height: 350px;
        min-height: 100px;
        margin-top: 230px;
    }

    .search-input {
        display: none;
    }

    .search-button {
        display: none;
    }
    .h2text {
        color: #070441;
        text-decoration: none;
        margin-right: 20px;
        font-size: 2.5em;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        transform: translateY(-50%);
        margin-top: -50px;
    }

    .h2text2 {
        color: #070441;
        text-decoration: none;
        font-size: 2.5rem;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        transform: translateY(-50%);
        margin-top: -45px;
    }

    .h2text3 {
        color: #070441;
        text-decoration: none;
        font-size: 2.5rem;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        transform: translateY(-50%);
        margin-top: -70px;
    }
}
