
.welcome{
    background: #14204a;
    position: relative;
    width: 700px;
    height: 100px;
    margin-left: -60px;
    margin-top: -50px;
    border-radius: 50px 50px 0 0;
}
.form-box {
    width: 90%;
    max-width: 700px;
    height: 550px;
    position: relative;
    margin-top: 23%;
    margin-left: 49%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px;
    text-align: center;
    border-radius: 50px 50px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-title {
    position: absolute;
    top: 24px;
    left: 27%;
    font-size: 2.7em;
    color: #ffffff;
    font-weight: 500;
}

.input-group {
    margin-bottom: 10px;
}
.inputField {
    width: 530px;
    height: 50px;
    padding: 10px;
    margin: 40px 0;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #ccc;
    border-radius: 20px!important;
    font-size: 1em;
}

.error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 10px;
}
.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 16px;
}

.checkbox-group input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    margin-bottom: 4px;
}

span{
    font-size: 16px;
    color: dimgray;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 1px;
    margin-left: 5px;
}
.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnPrimary {
    background-color: #ff6000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    width: 250px;
    text-align: center;
}
.btnSecondary {
    background-color: transparent;
    color: #ff6b00;
    border: 1px solid #ff6b00;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    width: 250px;
    text-decoration: none;
    margin-right: 55px;
}
.btnPrimary:hover,
.btnSecondary:hover{
    background-color: #e65a00;
    color: white;
    border-color: #e65a00;
}

.link {
    color: #0073e6;
    font-size: 16px;
    text-decoration: none;
    margin-top: 15px;
    display: block;
    text-align: left;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.link:hover {
    color: #005bb5;
    text-decoration: underline;
}
