* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    background-color: #f4f4f4;
}
.box-container {
    background-color: #f9f9f9;
    padding: 10px;
    height: 530px;
    width: 80%;
    max-width: 750px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 24.5%;
    margin-top: 45px;
    margin-bottom: 80px;
}
.instruction {
    font-size: 21px;
    color: #555;
    margin-top: 20px;
    margin-bottom: 20px;
}
.warning{
    font-size: 18px;
    color: #777;
    margin-bottom: 35px;
}
img{
    width: 270px;
    height: 250px;
}
.paid-button{
    padding: 13px 60px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    background-color: rgb(255 85 50);
    margin-right: 25.5%;
    color: white;
    position: absolute;
    top: 77.5%;
    left: 43.1%;
}
