@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto Condensed", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F7;
}

.sidebar-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 17px;
}

.sidebar a:hover {
    background-color: #34495e;
    border-radius: 5px;
}

.content {
    flex-grow: 1;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.content section {
    margin-bottom: 20px;
    background: #F7F7F7;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 580px;
    height: 420px;
    display: none;
    margin-top: 60px;
}

.content section.active {
    display: block;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}
.content p{
    margin-bottom: 60px;
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: column;
}
.profile{
    text-align: center;
    margin-right: 30px;
    color: #070441;
}
.p1{
    margin-left: 65px;
    color: #070441;
}
.username{
    position: absolute;
    top: 35.5%;
    left: 46%;
    font-size: 1.1em;
    color: #070441;
}
.useremail{
    position: absolute;
    top: 49%;
    left: 46%;
    font-size: 1.1em;
    color: #070441;
}
.save {
    width: 180px;
    border-radius: 20px;
    height: 40px;
    font-size: 1em;
    margin-left: 180px;
    margin-top: -15px;
}
.delete{
    width: 160px;
    border-radius: 20px;
    height: 40px;
    font-size: 1em;
    margin-left: 10px;
    margin-top: -40px;
}
.pass{
    position: absolute;
    top: 48%;
    left: 22%;
    font-size: 1.1em;
    color: #070441;
}

input {
    width: 70%;
    padding: 10px;
    margin-bottom: 60px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1em;
    margin-left: 80px;
    color: #070441;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

/* Modal Styling */
#confirm-user-deletion-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.error {
    color: #e74c3c;
    font-size: 0.9em;
    margin-top: -10px;
}
.logout-container {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.logout-container a {
    color: #e74c3c;
    font-weight: bold;
    text-decoration: none;
}
.addBtn{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 9px 40px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: #14204a;
    cursor: pointer;
}

