@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}
body{
    background-color: #F7F7F7;
}
.header-container{
    max-height: 700px;
    max-width: 100%;
}
.head{
    text-align: center;
    align-items: center;
}
.titleA{
    color: #070441;
    text-decoration: none;
    font-size: 2.2em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    margin-right: 20px;
}
.container-search2{
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-input3 {
    flex: 2;
    padding: 10px;
    background: #ffffff;
    border: 1px solid darkgreen;
    width: 500px;
    height: 65px;
    border-radius: 30px 0 0 30px;
    font-size: 1.2em;
    outline: none;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-left: 90%;
}
.dropdown-options2 {
    display: none;
    position: absolute;
    bottom: -220%;
    left: 1%;
    width: 80%;
    background-color: white;
    border: 1px solid darkgreen;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-item1 {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-item1:hover {
    background-color: #f0f0f0;
}

.search-button3{
    padding: 10px 15px;
    border: none;
    background-color: #14204a;
    color: white;
    border-radius: 0 30px 30px 0;
    width: 110px;
    height: 65px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: -102%;
}
.search-button3 img {
    width: 16px;
    height: 24px;
    margin-top: 3px;
    margin-right: -4px;
}
.lineS {
    height: 1px;
    background-color: #ccc;
    margin-top: 40px;
}
.titleS{
    color: #070441;
    text-decoration: none;
    font-size: 1.85em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    margin-left: 10.5%;
    margin-top: 40px;.
}
.main-container{
    height: 400px;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.serviceLink{
    text-decoration: none;
}
.btnIcons{
    height: 78px;
    width: 74px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    margin-top: 43px;
    margin-left: 150px;
}
.btnIcons:hover{
    transform: translateY(-8px);
    transition: transform 0.4s ease-in-out;
}
.span1{
    color: #070441;
    margin-left: 150px;
    margin-top: 20px;
}

