@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto Condensed", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F7;
}

.sidebar-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.sidebar a:hover {
    background-color: #34495e;
    border-radius: 5px;
}
.logout-container {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.logout-container a {
    color: #e74c3c;
    font-weight: bold;
    text-decoration: none;
}
.addBtn{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 9px 40px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: #14204a;
    cursor: pointer;
}
.jobs table{
    border-collapse: collapse;
    margin-top: 5rem;
    overflow-x: auto;
}
span.indicator{
    background: #c9f7f5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
span.indicator.even{
    background: #fff4de;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.jobs table th{
    background: #fff;
    font-size: 1rem;
    padding: .7rem;
    color: #070441;
}

.jobs table td div{
    background: #fff;
    margin-bottom: .8rem;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 1.4rem;
    font-size: 1rem;
    color: #444;
    font-weight: 500;
}
.table-responsive{
    overflow: auto;
}
table button{
    background: #8da2fb;
    color: midnightblue;
    border: 1px solid #8da2fb;
    padding: .5rem;
    border-radius: 3px;
}
.noservice{
    color: #070441;
    margin-left: 20px;
}
.hidden {
    display: none;
}
